# Unity 自动生成 / 临时文件
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/
sysinfo.txt
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.tmp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Asset meta — 由 Unity 在用户机器导入时生成；本仓库不提交
*.meta
